<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós podemos te ajudar</h2>
                <hr class="light">
                <p class="text-faded">Nós na SPS Projetos somos especialistas em levar os seus projetos para o próximo nível. Trabalhamos com diversos tipos de certificações, documentamos projetos a partir dos dados de entrada e protótipos, bem como, estruturamos um produto para atender as suas necessidades.</p>
            </div>
        </div>
    </div>
</section>
