<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato!</h2>
                <hr class="light">
                <p>Pronto para começar um projeto? Nós podemos ajudá-lo, entre em contato e iremos retornar assim que
                    possível!</p>
            </div>
        </div>

        <form id="contact-form">
            <div class="row">
                <div
                    class="input-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <label for="email">E-mail:</label>
                    <input id="email" required type="email" class="form-control" placeholder="nome@provedor.com"
                        name="email_from">
                </div>
            </div>

            <div class="row">
                <div
                    class="input-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <label for="subject">Assunto:</label>
                    <input id="subject" required type="text" class="form-control" placeholder="Ideia de projeto..."
                        name="email_subject">
                </div>
            </div>

            <div class="row">
                <div
                    class="input-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <label for="content">Conteúdo:</label>
                    <textarea id="content" class="form-control custom-control" required
                        placeholder="Descrição do projeto ou ideia" rows="8" style="resize:none"
                        name="email_content"></textarea>
                </div>
            </div>

            <div class="row">
                <div
                    class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-2 col-xs-offset-7">
                    <button type="submit" class="btn btn-primary btn-xl">Enviar</a>
                </div>
            </div>
        </form>
    </div>
</section>