<header>
    <div class="header-overlay"></div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Você tem a ideia, nós sabemos projetá-la!</h1>
                <hr class="light">
                <p>Com mais de 35 anos de experiência em projetos de engenharia mecânica nós projetamos o que você
                    precisa para o seu negócio ir para frente.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba Mais</a>
            </div>
        </div>
    
</header>