<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="./elevador-carga" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/toalheiro.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Toalheiro
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="./elevador-carga" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/elevador-carga.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Elevador de Carga
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="./elevador-carga" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/subteto.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Subteto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="./plataforma-cadeira-rodas" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/plataforma-cadeira-rodas.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Plataforma para Cadeira de Rodas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="./biblioteca-dupla-face" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/biblioteca-dupla-face.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Biblioteca Dupla Face
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="./carrinho-auxiliar" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/carrinho-auxiliar.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Carrinho Auxiliar
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>