<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- Send Mail -->
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_edrGCY7NqbD08dMT53hu3");
   })();
</script>

<script type="text/javascript">
   window.onload = function() {
      
   
      $('#phone').mask('(00) 00000-0000');
      if(document.getElementById('contact-form')) {
       document.getElementById('contact-form').addEventListener('submit', function(event) {
           event.preventDefault();
           emailjs.sendForm('gmail', 'contact-form', this)
           .then(function(response){
            document.getElementById("contact-form").reset();
            alert("E-mail enviado, aguarde nosso retorno em breve!");
           }, 
           function(error) {
            alert("Ocorreu um erro tente novamente mais tarde");
           });
       });
   }
   }
</script>