<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O Que podemos oferecer</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary"></i>
                    <h3>Projetos mecânicos em geral</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cube wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Modelagem de peças</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-text wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Detalhamentos de desenhos</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eye wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Acompanhamento de protótipos terceirizados</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary"></i>
                    <h3>Designer para desenvolvimento de novos produtos</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calculator wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Memorial de Cálculo e Responsabilidade Técnica</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flag wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Nacionalização de projetos</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-refresh wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Atualização de desenhos</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-building wow bounceIn text-primary"></i>
                    <h3>Layout de industrias em geral</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Suporte técnico para projeto</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Desenho de peça</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/draft.png" class="fa wow bounceIn text-primary" data-wow-delay=".3s"/>
                    <h3>Desenhos para orçamentos e vendas.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
